@model UserFeedback

@{
    ViewBag.Title = "Отзыв о товаре";
    Layout = "_Layout";
}


<h2>Заполните форму чтобы оставить отзыв</h2>
<div class="row">
    <div class="col-md-6">
        <form asp-controller="UserFeedbacks" asp-action="FeedBack" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="w-50" for="">
                    Введите свое имя
                    <input class="form-control" asp-for="UserName" type="text">
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </label>
            </div>

            <div class="form-group">
                <label class="w-50" for="">
                    Ваш отзыв
                    <textarea class="form-control" asp-for="Feedback" rows="4"></textarea>
                    <span asp-validation-for="Feedback" class="text-danger"></span>
                </label>
            </div>
            <div class="w-50">
                <label> Ваша оценка:</label>
                <select required asp-for="ProductEvaluation" asp-items="@ViewBag.ProductEvaluation" class="form-control">
                </select>
            </div>
            <button class="mt-3" type="submit">Отправить</button>
            <div class="form-group">
                <label for="">
                    <input hidden asp-for="ProductId" value="@ViewBag.ProductId">
                </label>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}